<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {
    title : 'dashboard'
}) %>

<body>
    <%- include('./partials/header-admin') %>
    <h1>dashboard</h1>

    <main class="container">
        <section class="row my-5">
                <div class="col-12 col-md-15 mx auto">
                    <div class="card">
                        <div class="card-header card-header-custom d-flex justify-content-between">
                            <h4 class="cart-title">Figuras</h4>
                            <a class="btn btn-primary" href="/productos/agregar">Nuevo</a>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach(({id,name,category,price,mainImage,description,offer,discount},index) => { %>
                                        <tr>
                                            <th scope="row"><%= index + 1 %></th>
                                            <td><%= name %></td>
                                            <td><%= price %></td>
                                            <td><%= category.name %></td>
                                            <td>
                                                <div class="d-flex gap-2">
                                                    <button type="submit" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#showModalProduct<%= id %>"><i class="fa-solid fa-eye"></i></button>
                                                    <a class="btn btn-sm btn-outline-success" href="/productos/editar/<%= id %>"><i class="fa-solid fa-pencil"></i></a>
                                                    <button type="submit" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#warningRemoveModal<%= id %>"><i class="fa-solid fa-trash"></i></button>


                                                    <%- include('./partials/modal-show-product-admin',{
                                                        id,
                                                        name,
                                                        price,
                                                        category: category.name,
                                                        mainImage,
                                                        description,
                                                        offer,
                                                        discount
                                                    }) %>

                                                    <%- include('./partials/modal-warning-delete-product-admin',{
                                                        id,
                                                        name,

                                                    }) %>
                                                </div>
                                            </td>
                                        </tr>
                                    <% }) %>
                                
                                
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
        </section>
    </main>

    <%- include('./partials/scripts') %>
    
</body>
</html>