<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{
  title:"Home"
}) %>
<body>
    <%- include('./partials/header') %>

    <main class="index__main">
        <!-- Sección oferta -->
        <section class="index__main__section--banner">
            <a href="#Oferta_pokemon"><img src="/images/Main-banner.svg" alt="Oferta_pokémon"></a>
        </section>
        <!-- Carrusel - Productos destacados -->
        <section class="index__main__section--products">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  
                  <% products.forEach(product => { %>
                  
                    <%- include('./partials/product-card',{
                    id: product.id,
                    name: product.name,
                    price: product.price,
                    mainImage: product.mainImage,
                    images: product.images,
                    category: product.category,
                    description: product.description,
                    offer: product.offer,
                    discount: product.discount
                    
                    }) %>
                  <% }) %>
                  
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
              </div>
        </section>

        <div class="container products-wrapper">
          <div class="row">
            <div class="col-12">
              <h2 class="products-title">Ofertas</h2>
            </div>
        <% products.filter(product => product.offer === true).forEach(product => { %>
          <%- include('./partials/cardProduct',{product}) %>
        <% }) %>
      </div>
    </div>




        <!-- Categorías destacadas -->
        <section class="index__main__section--categories">
          <article class="index__main__section__article--category">
            <a href="/productos/buscar?keyword=1">
            <img class="index__main__section__article--category--image" src="/images/Category-1.png" />
            <h4 class="index__main__section__article--category--name">Picadores</h4>
          </a>
          </article>
          <article class="index__main__section__article--category">
            <a href="/productos/buscar?keyword=2">
            <img class="index__main__section__article--category--image" src="/images/Category-2.png" />
            <h4 class="index__main__section__article--category--name">Mates</h4>
          </a>
          </article>
          <article class="index__main__section__article--category">
            <a href="/productos/buscar?keyword=3">
            <img class="index__main__section__article--category--image" src="/images/Category-3.png" />
            <h4 class="index__main__section__article--category--name">Figuras</h4>
          </a>
          </article>
          <article class="index__main__section__article--category">
            <a href="/productos/buscar?keyword=4">
            <img class="index__main__section__article--category--image" src="/images/Category-4.png" />
            <h4 class="index__main__section__article--category--name">Máscaras</h4>
          </article>
        </a>
          <article class="index__main__section__article--category">
            <a href="/productos/buscar?keyword=5">
                <img class="index__main__section__article--category--image" src="/images/Category-5.png" />
                <h4 class="index__main__section__article--category--name">Llaveros</h4>
            </a>
        </article>
        </section>
    </main>
    

    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>
    <script>
      var swiper = new Swiper(".mySwiper",{
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: -6,
          stretch: -30,
          depth: 80,
          modifier: 2,
          slideShadows: false,
        },
        pagination: {
          el: ".swiper-pagination",
        },
        loop:true,
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },});
    </script>
</body>
</html>