<!-- Modal -->
<div class="modal fade" id="showModalProduct<%= id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><%= name %></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>


        <div class="modal-body">
            <div class="row">
                <div class="col-12 col-md-lg-4">
                    <img src="/images/products/<%= mainImage || 'default-image.webp' %>" class="img-fluid" alt="">
                    <div class="col-12 col-md-lg-8">
                        <ul class="list-group">
                            
                            
                          <li class="list-group-item">Item : <b><%= id %></b></li>
                            <li class="list-group-item">Categoria : <b><%= category %></b></li>
                            <li class="list-group-item">Precio : <b><%= price %> USD$</b></li>
                            <li class="list-group-item">Descuento : <b><%= offer ? discount + "% de descuento" : "Sin descuento" %></b></li>
                            <li class="list-group-item">Descripción : <b><%= description %></b></li>
                          </ul>
                        
                        
                    </div>
                </div>
            </div>
          
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
</div>