<!DOCTYPE html>
<html lang="ES">
<%- include('../partials/head',{ title : 'Perfil' }) %>

  <body>
    <main class="d-flex flex-column justify-content-between" style="height: 100vh">
      <%- include('../partials/header') %>

        <section class="row">
          <div class="col-12 col-md-10 col-lg-6 mx-auto my-5">
            <div class="card shadow">
              <div class="card-header">
                <h3 class="box__card--title">Perfil de usuario</h3>
              </div>
              <div class="card-body">
                <form action="/usuarios/actualizarPerfil/<%= id %>?_method=PUT" class="row" method="POST" enctype="multipart/form-data">
                  <div class="col-12 col-md-6 mb-3">
                    <label for="name" class="form__label">Nombre</label>
                    <input type="text" id="name" name="name"
                      class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                      value="<%= name %>" />
                    <small class="text-danger ms-2">
                        <%= locals.errors && errors.name ? errors.name.msg : null %>
                    </small>
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <label for="surname" class="form__label">Apellido</label>
                    <input type="text" name="surname"
                      class="form-control <%= locals.errors && errors.surname ? 'is-invalid' : null %>" id="surname"
                      value="<%= surname %>" />
                      <small class="text-danger ms-2">
                        <%= locals.errors && errors.surname ? errors.surname.msg : null %>
                      </small>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form__label">Correo electrónico</label>
                    <input type="email" name="email"
                      class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" id="email"
                      placeholder="Completa tu email" value="<%= email %>" />
                      <small class="text-danger ms-2">
                        <%= locals.errors && errors.email ? errors.email.msg : null %>
                      </small>
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <label for="province" class="form__label">Provincia</label>
                    <input type="text" name="province" class="form-control <%= locals.errors && errors.province ? 'is-invalid' : null %>" id="province"
                      value="<%= province || null %>" />
                      <small class="text-danger ms-2">
                        <%= locals.errors && errors.province ? errors.province.msg : null %>
                      </small>
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <label for="city" class="form__label">Ciudad</label>
                    <input type="text" name="city" class="form-control <%= locals.errors && errors.city ? 'is-invalid' : null %>" id="city" value="<%= city || null %>" />
                    <small class="text-danger ms-2">
                      <%= locals.errors && errors.city ? errors.city.msg : null %>
                    </small>
                  </div>

                  <div class=" mb-3">
                    <label for="address" class="form__label">Dirección</label>
                    <input type="text" name="address" class="form-control <%= locals.errors && errors.address ? 'is-invalid' : null %>" id="addres" value="<%= address || null %>" />
                    <small class="text-danger ms-2">
                      <%= locals.errors && errors.address ? errors.address.msg : null %>
                    </small>
                  </div>

                  <div class="col-12 col-md-6 mb-3 w-100 mt-3 ">
                    <div class="form-check text-dark">
                      <input class="form-check-input" value=0 type="radio" name="userCategory" id="userCategory1" <%
                        if (userCategory == 0) { %>
                      checked
                      <% } %> >
                        <label class="form-check-label" for="userCategory1">
                          Solo Comprar
                        </label>
                    </div>
                    <div class="form-check text-dark">
                      <input class="form-check-input" value=1 type="radio" name="userCategory" id="userCategory2" <%
                        if (userCategory == 1) { %>
                      checked
                      <% } %> >
                        <label class="form-check-label" for="userCategory2">
                          Comprar y Vender
                        </label>
                    </div>
                  </div>


                  <div class="mt-3 text-center">
                    <label class="boton-guardarCambios" for="userImage">Cambiar imagen</label>
                    <input class="form-control" name="userImage" type="file" id="userImage">
                  </div>


                  <div class="col-lg-12  mb-3 d-flex align-items-center justify-content-center">
                    <button class="button button__primary">Actualizar datos</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>



        </div>
        </div>
        </div>
        <%- include('../partials/footer') %>
    </main>
  </body>

</html>